<div class="newPhoto">
  <%= form_for @photo, :url => photos_path do |form| %>
  <div class="form-group">
    <%= form.label :content, "Content" %>
    <%= form.text_area :content, :class => "form-control", :placeholder => "#‎我的觀察啦‬....不想寫content也可" %>
  </div>
  <div class="form-group">
    <%= form.label :tag_list, "標籤" %>
    <%= form.text_field :tag_list, :placeholder => "tag1, tag2", :class=> "form-control" %>
  </div>
  <div class="form-group">
    <%= form.file_field :avatar %>
  </div>

    <%= form.submit "submit", :class =>"btn btn-primary"  %>
  <% end %>
</div>

<div class="timelineContainer">
  <%= render :partial => "photo", :collection => @photos, :as => :p %>
</div>


<div class="modal fade" id="tagged_photos" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
