<div class="timelineContainer">

  <div class="timelineItem" id="timelineItem-<%= @photo.id %>">
    <div class="timelineSidebar">
      <%= timeline_user_avater(@photo.user) %>
      <% if current_user == @photo.user %>
      <%= link_to "Ajax Delete", photo_path(@photo), :method => :delete, :remote => true, :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger btn-xs pull-right" %>
      <% end %>
    </div>
    <div class="timelineCenter">
      <div class="mediaPhoto">
        <%= image_tag @photo.avatar , :class => "img-thumbnail img_responsive"  %>
      </div>

      <div class="timelineContent"><%= simple_format @photo.content %></div>
      <div class="timelineLikes">這裏按讚</div>

      <% @photo.comments.each do |c| %>
        <div class="timelineComments">
          <div class="media">
            <div class="media-left">
              <%= link_to (image_tag c.user.image, :class => "media-object img-rounded"), user_path(c.user) %>
            </div>
            <div class="media-body">
              <%= link_to c.user.name, user_path(c.user) %>
              <%= simple_format c.content %>
            </div>
          </div>
        </div>
      <% end %>

        <div class="comment-form timelineComments">
          <%= form_for @comment, :url => photo_comments_path(@photo) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, :class => "form-control", :placeholder => "在這裡回覆...." %>
            </div>
              <%= f.submit "submit", :class =>"btn btn-primary pull-right"  %>
          <% end %>
          <div class="clearfix"></div>
        </div>

    </div>

  </div>
</div>